<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.ionikit.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Ionikit</name>
  <description>
    Ionic starter kit, production ready.
  </description>
  <author email="hello@devfd.me" href="https://github.com/devfd/ionikit"></author>

  <content src="index.html"/>
  <access origin="*"/>

  <!-- allow call and sms from href -->
  <access origin="tel:*" launch-external="yes"/>
  <access origin="mailto:*" launch-external="yes"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <!-- Force orientation to protrait -->
  <preference name="Orientation" value="portrait" />
  <!-- Hide splashscreen from code -->
  <preference name="AutoHideSplashScreen" value="false"/>
  <!-- Focus <input> and show the keyboard from code -->
  <preference name="KeyboardDisplayRequiresUserAction" value="false"/>

  <!-- minimun android version -->
  <preference name="android-minSdkVersion" value="15"/>

  <!-- splash screen configuration -->
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="20000"/>

  <!-- required. otherwise splashscreen auto hide -->
  <feature name="SplashScreen">
    <param name="ios-package" value="CDVSplashScreen"/>
    <param name="onload" value="true"/>
  </feature>
</widget>
